{% load static %}

<footer>
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-md-8">

                </div>
                <div class="col-md-4">
                    <p>
                        This is a demonstration page and ist hosted and maintained by <a href="https://jochenklar.de">Jochen Klar</a>.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="bottom">
        <div class="container">
            <div class="row">
                <div class="col-xs-6">
                    Proudly powered by <a href="https://escience.aip.de/daiquiri">Daiquiri</a>
                </div>
                <div class="col-xs-6 text-right">
                    <a href="https://jochenklar.de/en/imprint/">Imprint and data protection</a>
                </div>
            </div>
        </div>
    </div>
</footer>
